# Django production secret key
SECRETKEY=""

# database settings
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_PORT=""

# Cloudinary settings
CLOUD_NAME=""
API_KEY=""
API_SECRET=""

# Email settings
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""